<h1>Hey, thanks for your order! </h1>

<p>Your order ID is: <%= @order.id %> </p>

<p> you ordered  <%= @order.product.name %> </p>

<img src='<%= @order.product.images.first.url %>'/>

<p>Quantity: <%= @order.quantity %></p>

<p>Subtotal: <%= @price %> </p>
<p>Tax: <%= @tax %> </p>
<p>Total <%= @total %> </p>