<h1>All Products</h1>
<% @discounted_products.each do |product| %>
<div class="col-md-4">
      <div class = "well">
        <h3><a href = '/products/<%= product.id%>'> <%= product.name %></h3></a>
        <img width="150px" src="<%= product.image %>"/> 
        <h3>Price $<%= product.price %></h3>
        <p><%= product.description %></p>
      </div>
    </div>
  <%= product.name %>
  <%end%>