  <div class="row">
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">  
    <img src= '<%= @product.images.first.url %>'/>
    <div class="caption">
    <h3><%= @product.name %></h3> 
    <p><%= @product.description %></p>
    <% if @product.discounted? %>
      <p> Discount Item!! </p>
      <%else%>
      <p> Everyday Value </p>
      <% end %>
    <h3>Price: $<%= @product.price %></h3>
    <p>Tax: $<%= @product.tax %></p>
    <p>Total: $<%= @product.total %> </p>
    <p>Supplier: <%= @product.supplier.name %> </p>
    <%= form_tag '/AddToCart', method: :post do %>
      <div>
        <%= label_tag :quantity %>
        <%= text_field_tag :quantity %>
      </div>
      <div>
        <%= hidden_field_tag :product_id, @product.id %>
      </div>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  </div> 
  </div>
  </div>
  <p>Back to all products<a href= '/products'> products</a></p>
  <div>
    <a href="/products/<%=@product.id%>/edit"> Edit this product </a>
    <div>
      <%= link_to "Destroy this product", "/products/#{@product.id}", method: :delete %>
    </div>
    <% @product.images.each do |image| %>
    <img height= 300px src='<%= image.url %>'/>
    <% end %>
