<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneMini</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">Motley Market</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/products/new">Add a Product <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
        <li class="active"><a href="/checkout">Checkout<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort/Search<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products?sort_attribute=price&sort_order=ASC">Sort by price (Low to High)</a></li>
            <li><a href="/products?sort_attribute=price&sort_order=DESC">Sort by price (High to Low)</a></li>
            <li><a href="/products?discount=true">Discount Items</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/products/random">View a Random Product</a></li>
            <li role="separator" class="divider"></li>
            <li>
              <%= form_tag "/search", method: :post do %>
                <%= label_tag :search %>
                <%= text_field_tag :search %>
                <%= submit_tag "Submit" %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <p style="color:red;"> Welcome <%= current_user.name %></p>
        <% end %> 
        <% if current_user %>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        <% end %>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products?category_name=food">Food</a></li>
            <li><a href="/products?category_name=healthy food">Healthy Food</a></li>
            <li><a href="/products?category_name=junk food">Junk Food</a></li>
            <li><a href="/products?category_name=equipment">Equipment</a></li>
            <li><a href="/products?category_name=indoor equipment">Indoor Equipment</a></li>
            <li><a href="/products?category_name=outdoor equipment">Outdoor Equipment</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class='container'>
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
        </div>    
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
